In [1]:
def AgeCate():
    if(age<18):
        print("Child")
        cate = "Childd"
        
    elif(age<35):
        print("Adult")
        cate = "Adultt"
        
    elif(age<45):
        print("Citizen")
        cate = "Citizenn"
        
    else:
        print("Senior Citizen")
        cate = "Seniorr Citizenn"

In [2]:
age = int (input("Enter your age: "))
agecate = AgeCate()

Enter your age:  33

Adult

In [3]:
agecate

In [4]:
print(agecate)

None

In [5]:
def Sub(num1,num2):
    sub = num1 - num2
    return sub

In [7]:
no1 = float(input("enter num1: "))
no2 = float(input("enter num1: "))
Sub(no1,no2)

enter num1:  23.33
enter num1:  13

10.329999999999998