In [1]:
for num in range(20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [4]:
for num in range(10,20):
    print(num, end=" ")

10 11 12 13 14 15 16 17 18 19

In [7]:
array = [10,20,14,55,43,87,76]
print(array)
print("Number of items in list2:")
print(len(array))

[10, 20, 14, 55, 43, 87, 76]
Number of items in list2:
7

In [9]:
word = "Artificial Intelligence"
print(word)
for letter in word:
    print(letter)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [10]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [11]:
tup = (1, 'Welcome', 2, 'mars tech')
print(tup)

(1, 'Welcome', 2, 'mars tech')

In [12]:
Tuple1 = (0,1,2,3)
Tuple2 = ('python','mars tech')
Tuple3 = (Tuple1, Tuple2)
print(Tuple3)

((0, 1, 2, 3), ('python', 'mars tech'))

In [2]:
num = (20,10,16,19,25,1,276,188)
print(num)
for oddNum in num:
    if (oddNum % 2 != 0):
        print(f"{oddNum} is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [3]:
num = (20,10,16,19,25,1,276,188)
print(num)
for evenNum in num:
    if (evenNum % 2 == 0):
        print(f"{evenNum} is even")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is even
10 is even
16 is even
276 is even
188 is even